.eingabeFeld {
    font-size: 25px;
    font-family: "Times New Roman";
    height: 40;
    width: 250px;
    border: 2.5px solid darkblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #575656;
    background: #add8e6;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: auto;
}

*:disabled {
    font-size: 25px;
    font-family: "Times New Roman";
    color: gray;
    height: 40;
    width: 250px;
    border: 2.5px solid grey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #575656;
    background: lightgray;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
}